<% if (post.author) { %>
    <hr/>
    <div class="level-left author"><% if (post.author_img) { %>
        <img src="/images/author/<%- post.author_img %>" style="border-radius: 50%; border: 1px solid gray" width="50"/><% } else {%>
            <img src="/images/author/vaibhav_bhootna.jpg" style="border-radius: 50%; border: 1px solid gray" width="50"/><% } %>
            <span class="level-item has-text-grey" style="padding: 10px;  display: inline-flex;                vertical-align: top;">
                <a style="color: #808080" href="#"><%- post.author %>
                    <br/>
                    <% if (post.author_des) { %>
                        <%- post.author_img %>
                    <% } else { %>
                        Software Engineer
                    <% } %>                    
                </a>
            </span>
        </div>
        <hr/><% } %>